footer#footer
  .contenedor
    ul#pie-biblioteca
      li
        a(href="") Red de bibliotecas
      li
        a(href="") Contacto
      li
        a(href="") Trámites y servicios
    ul#pie-legal
      li
        a(href="") Aviso Legal
      li
        a(href="") Accesibilidad
      li
        a(href="") Protección de datos