head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title= titulo
  meta(name='description', content=descripcion )
  // Cargamos nuestro CSS
  link(rel='stylesheet' href='css/estilos.css')
  // Cargamos FontAwesome
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
  // Espacio para cargar otros CSS desde cada página:
  block CSS