.navbar
  nav#menu-principal
    ul
      li
        a(href='colecciones.html') Colecciones
      li
        a(href='') Cat&aacute;logo
      li
        a(href='') Agenda
      li
        a(href='') Salas de estudio
      li
        a(href='') &Aacute;rea infantil
      li
        a(href='') Recursos digitales

    .hamburguesa
      i.fas.fa-bars.fa-2x